@model AuthorViewModel

@using (Html.BeginForm("Create", "Author", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()

    <div class="container mt-5">
        <h1 class="mb-4">Create New Author</h1>

        <div class="mb-3">
            @Html.LabelFor(m => m.Author.Name, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Author.Name, new { @class = "form-control", placeholder = "Enter Name" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m.Author.Bio, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Author.Bio, new { @class = "form-control", placeholder = "Enter Bio" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m.SelectedProfileId, "Profile Image", new { @class = "form-label" })
            @Html.DropDownListFor(m => m.SelectedProfileId, Model.ProfilePictures, "-- Select an image --", new { @class = "form-select" })
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
}